<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ylc.hhtally.mapper.BillMapper">
    <insert id="add" parameterType="Bill">
        insert into hhtally.bill(userId,labelId,money,time,remark,shopkeeper) value (#{userId},#{labelId},#{money},#{time},#{remark},#{shopkeeper})
    </insert>

    <delete id="remove">
        delete from hhtally.bill where billId=#{billId} and userId=#{userId}
    </delete>

    <select id="getByDate" resultType="Bill">
        select * from hhtally.bill where time between #{time1} and #{time2} and userId=#{userId}
    </select>

    <select id="getByLabel" resultType="Bill">
        select * from hhtally.bill where labelId=#{labelId} and userId=#{userId}
    </select>
    <select id="getAll" resultType="Bill">
        select * from hhtally.bill where userId=#{userId}
    </select>
</mapper>