<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ylc.hhtally.mapper.LabelMapper">
    <insert id="add" parameterType="Label">
        insert into hhtally.label(userId, labelName, icon) value (#{userId},#{labelName},#{icon})
    </insert>

    <delete id="remove">
        delete from hhtally.label where labelId=#{labelId} and userId=#{userId}
    </delete>

    <select id="getAll" resultType="Label">
        select * from hhtally.label where userId=#{userId} or userId=0
    </select>

    <select id="addReturn" resultType="int">
        select hhtally.label.labelId from hhtally.label where labelName=#{labelName}
    </select>
</mapper>